<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'oddjob/detailscreen.css' %}">
	<head>
		<title>{{ job.title }}</title>
	</head>
	<body style="background-color:#E8ECF2">
	<div class="card" style="background-color:White">
	<div class="container">
		<h1>Title: {{ job.title }}</h1>
		<p>Description: {{ job.description }} <br>
		Created by: {{job.originUser.name}} <br>
		Date Posted: {{ job.datePosted }} <br>
	    Deadline for Response: {{ job.dateDue }} <br>
		People Required: {{ job.numHelperRequested }} <br>
		Task duration: {{ job.taskDuration }} <br>
		Contributors: {{collab}}
		</p>
		<a href=" /oddjob/accept/{{job.id}}/{{user_id}}">
			<button id="myBtn">Accept Job</button>
		</a>
		<p><br></p>
		<div id="myModal" class="modal">
			<div class="modal-content">
			<span class="close">&times;</span>
			<p>You have accepted this job. Please contact {{job.originUser.name}} for more information</p>
			</div>
		</div>
	</div>
	</div>
	</body>		
	


	
	<script>
		var modal = document.getElementById("myModal");

		var btn = document.getElementById("myBtn");

		var span = document.getElementsByClassName("close")[0];

		btn.onclick = function() {
			modal.style.display = "block";
		}
		span.onclick = function() {
			modal.style.display = "none";
		}
		window.onclick = function(event) {
			if (event.target == modal) {
				modal.style.display = "none";
			}
		}
	</script>
</html>
