{% extends "oddjob/base.html" %}

{% block title %}Odd Jobs Home{% endblock %}

{% block main-content %}
<div class='top-bar'>
	<div class='left-align'>
		<div class='search-button'>
			<i class="fa fa-search" aria-hidden="true"></i>
		</div>
	</div>
	<div class='right-align'>
		<a href='/oddjob/newpost'>
			<div class='new-job-button'>
				+ New Job
			</div>
		</a>
	</div>
</div>
<h1 style="color:red;">DUE TODAY</h1>
{% if jobList %}
{% for job in jobList %}
{% now "Y-m-d" as todays_date %}
{% if todays_date >= job.dateDue|date:"Y-m-d" %}
<div class="card" style="background-color:White" onclick="location.href='/oddjob/{{ job.id }}/';">
	<div class="container">
		<h2>{{ job.title }}</h2>
		<p>{{job.description}}</p>
	</div>
</div>
{% endif %}
{% endfor %}
{% endif %}
<h1>TASKS NEEDED</h1>
{% for job in jobList %}
{% now "Y-m-d" as todays_date %}
{% if todays_date < job.dateDue|date:"Y-m-d" %} <div class="card" style="background-color:White"
	onclick="location.href='/oddjob/{{ job.id }}/';">
	<div class="container">
		<h2>{{ job.title }}</h2>
		<p>{{job.description}}</p>
	</div>
</div>
{% endif %}
{% endfor %}
{% endblock %}

<style>
</style>